<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="row m-0">
  <!-- start col-->
  <div class="container p-0">
    <div class="d-flex justify-content-center">
      <div class="col-lg-5 col-md-8 col-sm-8 col-xs-12 my-5">
        <div class="card py-3">
          <div class="card-body ribbon-box">
            <div class="ribbon-content">
              <p class="text-warning text-center h4 mb-4">Upload a photo to proceed, <%= nameCase(authUser.firstname) %>
              </p>
              <form action="/auth/register/complete/avatar" method="POST" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-12 col-xl-12 col-lg-12 text-center">
                    <div class="avatar_img" id="avatar_img"
                      style="background-image: url('<%= authUser.avatar ? authUser.avatar : `/images/users/authUser.jpg` %>');"
                      onclick="$('#avatar').trigger('click')">
                    </div>
                    <input type="file" name="avatar" id="avatar" accept="image/*" hidden required>
                  </div>
                  <div class="col-6 col-xl-6 col-lg-6 my-2 text-center">
                    <button type="button" class="btn btn-sm btn-link" onclick="$('#avatar').trigger('click')">Upload
                      Photo</button>
                  </div>
                  <div class="col-6 col-xl-6 col-lg-6 my-2 text-center">
                    <button type="submit" class="btn btn-sm btn-primary">Save Photo</button>
                  </div>
                </div>
              </form>
            </div>
          </div> <!-- end card-body-->
        </div>
      </div>
    </div>
    <!-- end col-->
  </div>

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->

  <%- include('../../partials/footer.html') %>