<link href="/css/responsive.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />

<!-- contact begin -->
<div class="investo-forms" id="login">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-8">
        <div class="section-title">

          <a href="/">
            <img src="/images/logo-dark.png" width="250" style="margin-bottom: 20px;" alt="kihearts">
          </a>
          <h6>Login to your account</h6>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-5">
        <div class="form-area">
          <form method="POST" action="/auth/login">
            <div class="row">
              <div class="col-xl-12 col-lg-12">
                <input type="text" id="username" name="username" value="<%= old('username') %>" placeholder="Phone No / Email / Nickname" autofocus
                  required />
              </div>
              <div class="col-xl-12 col-lg-12">
                <input type="password" id="password" name="password" value="<%= old('password') %>" class="mb-0" placeholder="Password" required />
              </div>
              <div class="col-xl-12 col-lg-12 text-center">
                <button type="submit">Login</button>
              </div>
            </div>
          </form>
          <br>
          <div id="mini_footer" class="text-center mini_footer">
            <a href="/" class="sec-color">Back to Home </a> |
            <a href="/auth/forgot-password" class="text-dark">Forgot Password </a> |
            <a href="/auth/register" class="sec-color">Create Account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- contact end -->

<%- include('../../partials/footer.html') %>