<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    <%= title %> :: KiHearts Network -- Your key to unlocking financial success!
    Crowdfunding, Advertising, Investment and Loan.
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Your key to unlocking financial success...
    Crowdfunding, Advertising, Investment and Loan" name="description" />
  <meta content="KiHearts" name="author" />
  <meta content="Decusicon" name="developer" />
  <meta content="Decusicon" name="designer" />
  <meta content="Designed and Developed by deCusicon" name="slogan" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <!-- Dropzone css -->
  <link href="/libs/dropzone/dropzone.min.css" rel="stylesheet" type="text/css">
  <!-- App css -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/app.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/mymain.css" rel="stylesheet" type="text/css" />

</head>

<body class="center-menu">

  <%- messages() %>

  <%- body %>

  <!-- Vendor js -->
  <script src="/js/vendor.min.js"></script>
  <!-- Dropzone js -->
  <script src="/libs/dropzone/dropzone.min.js"></script>
  <!-- App js -->
  <script src="/js/app.min.js"></script>
  <script src="/js/mymain.js"></script>
</body>

</html>