<%- include('../partials/header.html') %>

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="wrapper">
  <div class="container-fluid">
    <!-- start page title -->
    <div class="col-xl-12 col-lg-12 col-md-12 adsCon bg-primary" style="height: 100px;">a</div>
    <div class="row">
      <div class="col-12 mb-2">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="javascript: void(0);">KiHearts</a></li>
              <li class="breadcrumb-item active"><%= title %></li>
            </ol>
          </div>
          <h4 class="page-title"><%= title %></h4>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">

      <div class="col-xl-2 col-lg-2 col-md-2 adsCon bg-primary">b</div>

      <div class="col-xl-8 col-lg-8 col-md-8">
        <div class="contentCon">
          <!-- start Dashboard -->
          <div class="dashboard">
            <!-- start row -->
            <div class="row">
              <div class="col-xl-3 col-lg-3">
                <div class="card widget-flat" style="border-left: 3px solid #f1556c; border-right: 3px solid #f1556c;">
                  <div class="card-body p-0">
                    <div class="p-2 pt-3 pb-3">
                      <div class="float-right">
                        <!-- <i class="mdi mdi-cart text-primary widget-icon"></i> -->
                      </div>
                      <h5 class="text-muted font-weight-normal mt-0">Total Campaigns</h5>
                      <h3 class="mt-2 text-dark">302</h3>
                      <span class="float-right" style="font-size: 35px;">
                        📦
                      </span>
                    </div>
                    <div id="sparkline1"></div>
                  </div> <!-- end card-body-->
                </div> <!-- end card-->
              </div> <!-- end col-->

              <div class="col-xl-3 col-lg-3">
                <div class="card widget-flat" style="border-left: 3px solid #f7b84b; border-right: 3px solid #f7b84b;">
                  <div class="card-body p-0">
                    <div class="p-2 pt-3 pb-3">
                      <div class="float-right">
                        <!-- <i class="mdi mdi-account-multiple text-primary widget-icon"></i> -->
                      </div>
                      <h5 class="text-muted font-weight-normal mt-0">Total Donations</h5>
                      <h3 class="mt-2 text-dark">57</h3>
                      <span class="float-right" style="font-size: 35px;">
                        🎁
                      </span>
                    </div>
                    <div id="sparkline3"></div>
                  </div> <!-- end card-body-->
                </div> <!-- end card-->
              </div> <!-- end col-->

              <div class="col-xl-3 col-lg-3">
                <div class="card widget-flat" style="border-left: 3px solid #25b343; border-right: 3px solid #25b343;">
                  <div class="card-body p-0">
                    <div class="p-2 pt-3 pb-3">
                      <div class="float-right">
                        <!-- <i class="mdi mdi-currency-usd text-danger widget-icon"></i> -->
                      </div>
                      <h5 class="text-muted font-weight-normal mt-0">Total Income</h5>
                      <h3 class="mt-2 text-dark">2,187</h3>
                      <span class="float-right" style="font-size: 35px;">
                         💵
                      </span>
                    </div>
                    <div id="sparkline2"></div>
                  </div> <!-- end card-body-->
                </div> <!-- end card-->
              </div> <!-- end col-->

              <div class="col-xl-3 col-lg-3">
                <div class="card widget-flat" style="border-left: 3px solid #4b88e4; border-right: 3px solid #4b88e4;">
                  <div class="card-body p-0">
                    <div class="p-2 pt-3 pb-3">
                      <div class="float-right">
                        <!-- <i class="mdi mdi-eye-outline text-danger widget-icon"></i> -->
                      </div>
                      <h5 class="text-muted font-weight-normal mt-0">Total Advertised</h5>
                      <h3 class="mt-2 text-dark">431</h3>
                      <span class="float-right" style="font-size: 35px;">
                        🔊
                      </span>
                    </div>
                    <div id="sparkline4"></div>
                  </div> <!-- end card-body-->
                </div> <!-- end card-->
              </div> <!-- end col-->
            </div>
            <!-- end row -->
          </div>
          <!-- end Dashboard -->

        </div>

        <div class="taskCon">
          <div class="card">
            <div class="card-body">

              <h4 class="header-title">Task for Today</h4>
              <p class="sub-header">You're to ask your friends.</p>

              <div class="button-list text-center">

                <button type="button" class="btn btn-info"><i class="mdi mdi-facebook"></i> Share to facebook</button>

                <button type="button" class="btn btn-pink"><i class="mdi mdi-instagram"></i> Share to Instagram</button>

                <button type="button" class="btn btn-success"><i class="mdi mdi-whatsapp"></i> Share to
                  WhatsApp</button>

                <button type="button" id="dashboard-referral-link" class="btn btn-dark" data-referral-link=""
                  data-copy-text=""><i class="mdi mdi-link"></i> Copy your Referral Link</button>
              </div>

              <div class="row mt-3">
                <div class="col-xl-4 col-lg-4 col-md-4 d-sm-block">
                  <p>
                    <strong class="text-dark">KIHEARTS NETWORK INVITATION</strong>
                    <br>

                    Do you worry about money to start a business, pay school fees, pay your house rent, buy a car, build
                    a
                    house, travel abroad, sort medical bills, sponsor your wedding, etc. <br>

                    Worry no more, at Kihearts Network, you can raise funds to sort all your financial needs. <br>

                    Why not join us today and let's raise funds for you. <br>

                    Registration fee is ₦500 or $1.50. <br>
                    Hurry because the registration fee will go up soon.
                  </p>
                  <a href="#" class="text-center btn-link btn-block btn-sm float-right">Copy To Share</a>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 d-sm-block">
                  <p>
                    <strong class="text-dark">KIHEARTS NETWORK</strong>
                    <br>

                    At Kihearts Network, you can raise funds for the following:

                    <br> ♨ Business Capital
                    <br> ♨ House Rent
                    <br> ♨ Hospital Bill
                    <br> ♨ School Fees
                    <br> ♨ Wedding Funds
                    <br> ♨ Travel Funds
                    <br> ♨ Funds to buy a house
                    <br> ♨ Funds to buy a car etc. <br>

                    Why not join us today and experience financial freedom...
                  </p>
                  <a href="#" class="text-center btn-link btn-block btn-sm float-right">Copy To Share</a>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 d-sm-block">
                  <p>
                    <strong class="text-dark">KIHEARTS NETWORK</strong>
                    <br>

                    Kihearts Network is a Donation & Reward Crowdfunding platform where you can raise funds for any good
                    cause. <br>

                    Register today and experience financial freedom.
                  </p>
                  <a href="#" class="text-center btn-link btn-block btn-sm float-right">Copy To Share</a>
                </div>
              </div>

            </div> <!-- end card-body-->
          </div> <!-- end card-->
        </div>
      </div>

      <div class="col-xl-2 col-lg-2 col-md-2 adsCon bg-primary">c</div>

    </div>

  </div>
  <!-- end container-fluid -->
</div>
<!-- end wrapper -->

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

<%- include('../partials/footer.html') %>
<script>
  const USER = "<%= user.email %>"
</script>